<!DOCTYPE html>
<html lang="es">

<head>
  <title>Serie N</title>
  <meta charset="UTF-8">
  <meta name="title" content="Serie N">
  <meta name="description" content="Calcula el valor de N dentro de una serie">
</head>

<body>
    <div class="grid mt-1">
      <div class="md:col-6 md:col-offset-3 sm:col-12 sm:col-offset-0">
        <p-card  header="Serie N">
          <img  class="tamanoImagen" src="../../assets/images/serie.jpg" alt="Formula para el calculo de la serie"/>
        </p-card>
      </div>
    </div>

    <div class="grid mt-1">
      <div class="md:col-6 md:col-offset-3 sm:col-12 sm:col-offset-0">
        <p-card >
          <app-formulario></app-formulario>
        </p-card>
      </div>
    </div>

    <div class="grid mt-1">
      <div class="md:col-6 md:col-offset-3 sm:col-12 sm:col-offset-0">
        <p-card >
          <app-resultado></app-resultado>
        </p-card>
      </div>
    </div>

    <app-operador></app-operador>

</body>

</html>
